
 *{
    margin:0;
    padding:0;

 }
.root {
    margin-bottom:3px;
    /* flex-grow: 1; */
  }

 .dateLabel {
     /* margin-left: 30px; */
     display: inline-block; 
} 

.navigateButtons{
    /* margin-left: 25px;
    margin-right: 25px; */
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    align-items: center;
    border: 1px solid gray;
}

 #back, #next{
    fill: #fff;
    background: transparent;
    color:white;
    box-shadow:none;
}

#back:hover, #next:hover{
    background: #66A3CE;
}
