.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {

  font-size: large;
}

/* @media print {
  .SideNav-drawerPaper-125
  {
    display: none !important;
  }
  .MuiAppBar-root-4{
    display: none !important;
  }
  .MuiToolbar-root-39
  {
    background: #000;
    display: none !important;
  }
}

.calendar-week .rbc-calendar {
  height: auto !important;
}

.calendar-month .rbc-calendar {
  height: 727px !important;
  display: table !important;

}

.calendar-month .rbc-month-row {
  display: table !important;
  height: 100px !important;
  width: 100% !important;
}

.calendar-month .rbc-month-view {
  display: table !important;
  height: 100px !important;
  width: 100% !important;
} */
