.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media print {

  /* .rbc-month-row {
      height: 100% !important;
  }
  .rbc-row-bg .rbc-day-bg {
      height: 100% !important;
  }

  .MuiPaper-root-12 .MuiPaper-elevation0-14 .MuiDrawer-paper-131 .SideNav-drawerPaper-125 .MuiDrawer-paperAnchorLeft-132 .MuiDrawer-paperAnchorDockedLeft-136
  {
    display: none !important;
  } */

  .SideNav-drawerPaper-125
  {
    display: none !important;
  }

  .MuiToolbar-root-39
  {
    display: none !important;
  }
}
