body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter; 
}

table {
    border: 1px solid silver;
    border-collapse: collapse;
    text-align: center;    
}

table tr td{
    width: 100px;
    height: 50px;
    border: 1px solid silver;
    border-collapse: collapse;
}

table tr:first-child td{
    height: 50px;
}